.header-wrapper {
    height: 70px;
    width: calc(100vw - 240px);
    background-color: #F7F7FA;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}